# Default ignored files
/../../vpn_final_project./.idea/shelf/
/../../vpn_final_project./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../vpn_final_project./.idea/httpRequests/
# Datasource local storage ignored files
/../../vpn_final_project./.idea/dataSources/
/../../vpn_final_project./.idea/dataSources.local.xml
